
body {
    background-color: #11c8ce;
    margin: 0;
    font-family: Arial, sans-serif; 
  }
  
  .todo-container {
    max-width: 800px;
    margin: 0 auto; 
    padding: 20px;
    background-color: rgb(0, 12, 14);
    border-radius: 8px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
  }
  